.game-over-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 100vh;
  width: 100%;
}

.game-over-logo {
  width: 100px;
  height: 100px;
  margin-bottom: 20px;
}

.game-over-text {
  text-align: center;
  margin-bottom: 20px;
  font-size: calc(1rem + 1vw);
  font-weight: 600;
}

#restart-btn {
  cursor: pointer;
  color: black;
  width: 40%;
  max-width: 250px;
}

#restart-btn:hover {
  background-color: green;
  color: #fff;
  border: 2px solid #fff;
}
