.trivia {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  gap: 5rem;
}

.question {
  width: 80%;
  background: linear-gradient(#100241, black);
  border: 2px solid #fff;
  text-align: center;
  border-radius: 14px;
  padding: 1rem;
  font-size: 1.2rem;
  margin-top: 6rem;
}

.answers {
  width: 100%;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

.answer {
  width: 80%;
  padding: 1rem;
  text-align: center;
  background: linear-gradient(#0e0124, #22074d);
  border: 1px solid #fff;
  border-radius: 1rem;
  font-size: 1.2rem;
  font-weight: 300;
  cursor: pointer;
}
.answer:hover,
.answer.active {
  background: mediumblue;
}

.answer.correct {
  animation: correct 3s ease forwards;
}

.answer.wrong {
  animation: wrong 3s ease forwards;
}

@keyframes correct {
  0%,
  22%,
  42% {
    background: mediumblue;
  }

  20%,
  40%,
  60% {
    background: linear-gradient(#0e0124, #22074d);
  }

  62%,
  100% {
    background: green;
  }
}

@keyframes wrong {
  0%,
  22%,
  42% {
    background: mediumblue;
  }

  20%,
  40%,
  60% {
    background: linear-gradient(#0e0124, #22074d);
  }

  62%,
  100% {
    background: crimson;
  }
}
